body {
     font-family: Arial, sans-serif;
     padding: 20px;
     background-color: #f9f9f9;
}
form input {
    margin: 5px;
    padding: 5px;
}
button {
    padding: 6px 10px;
}
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}